driver: com.mysql.jdbc.Driver
url: jdbc:mysql://localhost/managed_db?useSSL=false
username: root
password:
databaseChangeLogTableName: _databasechangelog
databaseChangeLogLockTableName: _databasechangeloglock
